body{
  display: flex;
  justify-content: center;
  background-color:#001433;
  color:white;
    background-color: #0cbaba;
    background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);

}
div.main{
  border-radius: 20px;
  display: grid;
  grid-template-columns:.4fr 4fr;
  grid-template-rows:auto auto auto;
  grid-template-areas:  "row1 content"
                        "row2 content"
                        "row3 content";
}

.main>div{

}
.main>.row1{
  margin-top: 20px;
  grid-area:row1;
}
.main>.row2{
  margin-top: 20px;
  grid-area:row2;
  margin-left: auto;
  margin-right: 9%;
}


.tabs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.tabs>div{
  margin-top: 2px;    
  background: url("./images/tag.svg");
  background-size:170% 100%;
  background-repeat: no-repeat;
}

.tabs>div>h4{
    padding: 5%;
    font-family:"Courier New", Courier, monospace;
    font-size:20px;
    border-radius: 11px;
    margin-right: 50px;
}

svg{
    padding-left: 15px;
    width: 100%;
    height: 20px;
}

.main>.content{
  background:url("./images/wormhole.png");  
  background-size: 100% 100%;  
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  grid-area: content;
  border:5px solid #1A7000;
  border-radius:40px 28px 40px 120px;
  background-color: black;

}

.contentHead{
    border-radius: 43px 10px 0 0px;
    width: auto;
    flex:1;
}
#dataShow{
 font-family:"Courier New", Courier, monospace;
 font-size:2vw;
 margin-top:12px;
 margin-bottom: 72px;
 padding-left:12px;
 margin-left: 10%;
 flex:2;
 background: black;
 color:#C3FFC2;
 width: 88%;
 border:5px solid #1A7000;
 border-radius:40px 28px 40px 120px;
}

@media only screen and (max-width: 400px) {
    .main>.content{
        flex-direction:column-reverse;
    }
    .contentHead{

    }
    #dataShow{
        width:80%;
        font-size:100%;
        padding-bottom: 20%;
    }
    .tabs>div{

    }
    
    .tabs>div>h4{
        margin: 12px;
        font-size:10px;
    }
}